[package]
name = "fullstack-starknet-rust-dioxus-example"
version = "0.1.0"
authors = ["zhengpeng <847850277@qq.com>"]
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
starknet = "0.10.0"
reqwest = { version = "0.11", features = ["json"] }
serde = { version = "1.0.197", features = ["derive"] }
# dioxus = { version = "0.5.1", features = ["fullstack", "router"] }
# https://github.com/DioxusLabs/dioxus/issues/2343
dioxus = { git = "https://github.com/DioxusLabs/dioxus", branch = "v0.5", features = ["fullstack", "router"] }
tokio = { version = "1.37.0", features = ["rt", "sync","full", "test-util"] }
tower-http = { version = "0.5.2", features = ["timeout", "auth"], optional = true }
tower-cookies = {version="0.10.0", optional=true}
http = "1.1.0"
axum = {version="0.7.5", optional=true}
tower = {version="0.4.13", optional=true}
axum_session = {version="0.14", optional=true}
axum_session_auth = {version="0.14", optional=true}
anyhow = "1.0.86"
sqlx = {version="0.7.4", features = [
    "macros",
    "migrate",
    "postgres",
    "sqlite",
    "_unstable-all-types",
    "tls-rustls",
    "runtime-tokio",
], optional=true}
axum_session_sqlx = {version="0.1.0", features=["sqlite"], optional=true}
pwhash = {version="1.0.0", optional=true}

# Debug
tracing = "0.1.40"
dioxus-logger = "0.5.0"

[features]
default = []
server = ["dioxus/axum", "tower-http", "tower-cookies", "axum", "tower", "axum_session", "axum_session_auth", "sqlx", "axum_session_sqlx", "pwhash"]
web = ["dioxus/web"]

